@model Category

@{
	ViewData["title"] = Model.Name;
}

@section title {
	<h3>Category ID: @Model.Id</h3>
}

<form method="post"
	asp-controller="categories"
	asp-action="edit"
>
	<input type="hidden" asp-for="Id" />

	<label asp-for="Name">
		<input asp-for="Name" type="text"/>
	</label>
	<span asp-validation-for="Name"></span>
	<br/>

	<label asp-for="Description">
		<input asp-for="Description" type="text" />
	</label>
	<span asp-validation-for="Description"></span>
	<br/>

	<button type="submit">✔</button>
</form>
