* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

button {
   border: none;
   outline: none;
   cursor: pointer;
   background: none;
}

table {
   max-width: 100%;
   border-collapse: collapse;

   th {
      text-align: left;
   }
}
