@model CategoryDetailVm

@{
	string? title = Model.Name ?? "Updating Category";


	ViewData["title"] = title;
}


<form method="post" asp-controller="categories" asp-action="edit">

	<input type="hidden" asp-for="Id" />

	<label asp-for="Name">
		<input asp-for="Name" type="text" />
	</label>
	<span asp-validation-for="Name"></span>
	<br />

	<label asp-for="Description">
		<input asp-for="Description" type="text" />
	</label>
	<br />
	<br />

	<button type="submit">✔️</button>
</form>

@section scripts {
	<partial name="_ValidationScriptsPartial" />
}

