@model InsertCategoryModel

@{
   ViewData["title"] = "Add new category";
}

<form method="post" asp-controller="categories" asp-action="insert">
   <label asp-for="Name"></label>
   <input asp-for="Name" type="text" />
   <span asp-validation-for="Name"></span>
   <br />

   <label asp-for="Description"></label>
   <input asp-for="Description" type="text" />
   <br />

   <button type="submit">✔️</button>
</form>

@section scripts {
   <partial name="_ValidationScriptsPartial" />
}




