@model CategoryDetailVm

@{
	string? title = "Category Name";


	ViewData["title"] = title;

}

@* @section title {
	<title>@title</title>
} *@

@section styles {
	<style>
		button {
			border: none;
			cursor: pointer;
			background: transparent;
		}
	</style>
}

<form method="post" asp-controller="categories" asp-action="edit">

	<input type="hidden" asp-for="Id" />

	<label asp-for="Name">
		<input asp-for="Name" type="text" />
	</label>
	<span asp-validation-for="Name"></span>
	<br />

	<label asp-for="Description">
		<input asp-for="Description" type="text" />
	</label>
	<br />

	<button type="submit">✔️</button>
</form>

