@model List<CategoryDetailVm>


@{
	ViewData["title"] = "Categories Page";
}

<a asp-controller="categories" asp-action="add">➕</a>
<br />
<br />

@if (Model is { Count: 0 })
{
	<p>No categories provided.</p>
}
else
{
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in Model)
			{
				<tr>
					<td>@category.Name</td>
					<td>@category.Description</td>
					<td>
						<a asp-controller="categories"
							asp-action="edit"
							asp-route-id="@category.Id">
							🖋
						</a>
					</td>
					<td>
						<a asp-controller="categories"
							asp-action="delete"
							asp-route-id="@category.Id"
							onclick="return confirmDelete()">
							❌
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@section scripts {
	<script>
		function confirmDelete() {
			return confirm(`Are you sure you want to delete this category`);
		}
		
	</script>
}

