<!DOCTYPE html>

<html lang="en">
<head>
  	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["title"] - Merchify</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Merchify.Web.styles.css" asp-append-version="true" />
</head>
<body>
	<nav>
		<a asp-controller="Home" asp-action="Index">Home</a>|
		<a asp-controller="Categories" asp-action="Index">Categories</a>|
		<a asp-controller="Products" asp-action="Index">Products</a>
	</nav>

	<main>
		@RenderBody()
	</main>

	<script src="~/lib/jquery/jquery.js"></script>
	<script src="~/js/app.js" asp-append-version="true"></script>
	@await RenderSectionAsync("scripts", required: false)
</body>
</html>
